node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
vendor
.env
.env.*
.phpunit.result.cache
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php
Dockerfile
docker-compose.yml
.dockerignore
.idea
.vscode
*.log
*.DS_Store
Thumbs.db
tests
coverage
phpunit.xml
phpunit.xml.dist
.env.testing
.git
.gitignore
.gitattributes
.editorconfig
tmp
cache
